<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MinIO File Upload</title>
</head>
<body>
    <h1>Upload file lên MinIO</h1>

    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="bucket_name">Tên Bucket:</label>
        <input type="text" id="bucket_name" name="bucket_name" required>
        <br><br>
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
        {% if file_name and file_path %}
            <form action="/confirm_upload" method="POST">
                <input type="hidden" name="file_name" value="{{ file_name }}">
                <input type="hidden" name="file_path" value="{{ file_path }}">
                <input type="hidden" name="bucket_name" value="{{ bucket_name }}">
                <button type="submit">Xác nhận upload đè</button>
            </form>
        {% endif %}
    {% endif %}
</body>
</html>
